<section id="main-content">
  <section class="wrapper">
    <mat-toolbar color="primary">
      <span>
       <h5></h5>
      </span>
    </mat-toolbar>
    <div class="section-header">
      <h3>Ajouter candidat</h3>
    </div>
    <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel">
          <form class="form-horizontal style-form" [formGroup]="form" (ngSubmit)="addCandidat()" >
            <div class="form-group">
                <label  class="col-sm-2 col-sm-2 control-label">Nom</label>
                <div class="col-sm-10" >
                  <!-- <input type="text" class="class1"  id="id" formControlName="id" style="display: none;" /> -->
                  <input type="text" class="class1"  id="nom" formControlName="nom" />
                  <div class="invalid-feedback">
                    <div>Name is required</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 col-sm-2 control-label">Télephone</label>
                <div class="col-sm-10" >
                  <input type="text" class="class1"  id="phone" formControlName="phone" />
                  <div class="invalid-feedback">
                    <div>Phone is required</div>
                  </div>
                  
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 col-sm-2 control-label">Adresse email</label>
                <div class="col-sm-10" >
                  <input type="text" class="class1"  id="email" formControlName="email"  />
                  <div class="invalid-feedback">
                    <div>Email is required</div>
                  </div>
                  
                </div>
            </div>
            
            <div class="form-group">
                <label  class="col-sm-2 col-sm-2 control-label">Cv</label>
              <input type="file" class="class2"  formControlName="cv"/> 
              <!-- <app-upload-cv formControlName="cv"></app-upload-cv> -->
            </div>  
            <div class="form-group"  >
              <div class="class3"fxLayout="row  " fxLayoutAlign="space-between center"  fxLayoutGap="16px grid" >
                    

                  


                  <div type="submit" class="form-control">
                    <div fxLayout="row" fxLayoutAlign="center center"><mat-icon style="font-size:18px" (click)="Retour()">  undo</mat-icon>Retour</div>
                  </div>
                  <div type="submit" class="form-control" >
                    <div fxLayout="row" fxLayoutAlign="center center" (click)="ResetAppelOffre()"> <mat-icon style="font-size:18px">refresh</mat-icon>Annuler</div>
                  </div>
                  <div  type="submit" class="form-control" >
                    <div fxLayout="row" fxLayoutAlign="center center" (click)="addCandidat()"><mat-icon style="font-size:18px"> add</mat-icon> Valider</div>
                  </div>
              </div>

            </div>
            
      

                

            
     

          
  
            

            


          </form>
        </div>
      </div>
      <!-- col-lg-12-->
    </div>


    






  </section>
</section>
