<div id="sidebar" class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">
    <p class="centered"><a routerLink=""><img src="assets/img/bejaouirihab.jpg" class="img-circle" width="80"></a></p>
    <h5 class="centered">Bejaoui Rihab</h5>
    <li class="mt">
      <a class="active" routerLink="">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-desktop"></i>
        <span>Gestion Candidats</span>
      </a>
      <ul class="sub">
        <li><a routerLink="/categories">List specialities</a></li>
        

      </ul>
    </li>
    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span>Gestion Appels d'offres</span>
      </a>
      <ul class="sub">
        <li><a routerLink="/appeloffre">List Appels d'offres</a></li>
       
      </ul>
    </li>

  </ul>
  <!-- sidebar menu end-->
</div>
