<section id="main-content">
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="assets/img/cv parser.png"  class="img-fluid" >
        </div>
        <div class="col" >
         <h2 class="titre1">Réaliser les bons recrutements</h2>
         <h3 class="titre2">Automatisez et optimisez votre processus de recrutement afin d'attirer les meilleurs talents grâce à It Serv recrutement qui vous permet de :</h3>
         <ol class="list">
          <li style="color: black;" >Parser le CV de chaque candidat</li>
          <li style="color: black;" >Classer les candidats sous des spécialités</li>
          <li style="color: black;" >Matcher les bon CVS aux offres adèquates</li>
 
        </ol>
        </div>
      </div>
    </div>
    <!-- /row -->
  </section>
</section>
